<section>
    <h1>
        Lista de Productos
    </h1>
    <ul>
        {{#each products}}
            <li>
                <h2>
                    Producto: {{this.title}}
                </h2>
                <h4>
                    Categoria: {{this.category}}
                </h4>
                <h4>
                    Descripcion: {{this.description}}
                </h4>
                <h3>
                    Precio: ${{this.price}}
                </h3>
                <h3>
                    Stock: {{this.stock}} ud.
                </h3>
                <img src={{this.thumbnail.[0]}} alt={{this.title}}>
            </li>
        {{/each}}
    </ul>
</section>
