<main>
    {{#if user}}
        <h1>
            Bienvenid@ de nuevo, {{user.username}}
        </h1>
        <a href="/api/sessions/logout">
            <button>
                Cerrar Sesion
            </button>
        </a>
    {{/if}}
    <h1>
        Productos
    </h1>
    <section>
        <ul>            
            {{#each products}}
                <li class="product">
                    <a href="/product/{{this._id}}">
                        <h2>
                            {{this.title}}
                        </h2>
                        <h4>
                            Categoria: {{this.category}}
                        </h4>
                        <h4>
                            Codigo: {{this.code}}
                        </h4>
                        <p>
                            {{this.description}}
                        </p>
                        <h3>
                            $ {{this.price}}
                        </h3>
                        <h3>
                            Stock: {{this.stock}}
                        </h3>
                    </a>
                    <img src="{{this.thumbnail.[0]}}" alt="{{this.title}}">
                    <form action="">
                        <select name="quantity" id="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <button>Agregar al Carrito</button>
                    </form>
                </li>
            {{/each}}
        </ul>
        {{#if hasPrevPage}}
        <a href="/view-products?page={{prevPage}}">
            <button class="pagebtn">{{prevPage}}</button>
        </a>
        {{/if}}
        {{#if hasNextPage}}
        <a href="/view-products?page={{nextPage}}">
            <button class="pagebtn">{{nextPage}}</button>
        </a>
        {{/if}}
    </section>
</main>